<%- include('partials/header') -%>

    <!-- Main Content -->

    <section class="main-content">

        <div class="container-fluid">

            <h1><%= title %></h1>
            <p><%= content %></p>

            <% articles.forEach(function(article) { %>
            <article>
                <h2><a href="/read/<%= article.articleTitle %>"><%= article.articleTitle %></a></h2>
                <p>
                    <%= article.articleText.substring(0, 100) %>
                    <a href="/read/<%= article.articleTitle %>"> ...Keep reading</a>
                </p>
            </article>
            <% }) %>

            <!-- The block of code above is the equivalent of:
            for(let i = 0; i < articles.length; i++) {
            <article>
                <h2> articles[i].articleTitle </h2>
                <p> articles[i].articleText </p>
            </article>
            }
            -->

        </div>

    </section>

<%- include('partials/footer') -%>